//===========================================
//
// Theme Variables
//
//===========================================

// Environment Variables
//===========================================
$img-folder: "../images";
$fontsFolder: "../fonts";

// Responsive Breakpoints
//===========================================
$xs: "only screen and (max-width: 767px)";
$not-xs: "only screen and (min-width: 768px)";
$xs-sm: "only screen and (max-width: 991px)";
$xs-md: "only screen and (max-width: 1199px)";

$sm: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm-md: "only screen and (min-width: 768px) and (max-width: 1199px)";

$md: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md-lg: "only screen and (min-width: 992px)";

$lg: "only screen and (min-width: 1200px)";

$xl: "only screen and (min-width: 1400px)";

$not-lg: "only screen and (max-width: 1199px)";


// Site Colors
// ===========
$primaryColor: #221249;  // dark purple
$secondaryColor: #ddccff;  // light purple

$backgroundColor: #e8deff;

$yes: #14473e;
$no: #441414;

// Typography Variables
//===========================================
$baseTextColor: $secondaryColor;
$baseFontFamily: 'Josefin Sans', sans-serif;
$baseFontSize: 20px;

$headingsFont: 'Josefin Sans', serif;
$headingsWeight: 300;
$headingsLineHeight: 1.1;
$headingsColor: $primaryColor;

$handwriting: 'Indie Flower', cursive;

$linkColor: #e98dff;
$linkHoverColor: #ffcf4c;

// Site Variables
//===========================================
$hoverTransitionSpeed: 400ms;

$gutter: 30px;